.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 0px;
  /* perspective-origin: 0 0; */
  transform-style: preserve-3d;
}

.content {
  position: relative;
  display: block;
  /* overflow: hidden; */
  /* perspective: 0px; */
  perspective-origin: 0 0;
  transform-style: preserve-3d;
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  /* transform-origin: 0 0; */
}

.content::before {
  background: var(--radials) top center;
  transform: translateZ(-1.5px) /*scale(2.5)*/;
  width: 400%;
  height: calc(var(--bgHeight) * 1);
  z-index: -3;
}

.content::after {
  background: var(--stars) top center;
  transform: translateZ(-2px) /*scale(3)*/;
  width: 400%;
  height: calc(var(--bgHeight) * 1);
  z-index: -5;
}
