.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  --box-padding: 1.5em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 4px solid;

  padding: calc(1.5 * var(--box-padding)) var(--box-padding);
  background-color: hsla(0, 0%, 0%, 0.5);
}

.mode-left .box {
  margin-left: -5em;
  padding-left: 5em;
}

.mode-right .box {
  margin-right: -5em;
  padding-right: 5em;
}

.side-image {
  margin-top: calc(-1 * var(--box-padding));
  z-index: -1;
  position: relative;
}

.side-image img,
.side-image picture {
  max-width: 100%;
}

.mode-left .side-image {
  margin-right: calc(-1 * var(--box-padding));
}

.mode-right .side-image {
  margin-left: calc(-1 * var(--box-padding));
}

.mode-center .side-image {
  margin-left: var(--box-padding);
  margin-right: var(--box-padding);
}

.mode-full .side-image {
  margin-left: calc(-1 * var(--box-padding));
  margin-right: calc(-1 * var(--box-padding));
}

@media (min-width: 400px) {
  .mode-left .box {
    margin-right: 20%;
  }

  .mode-right .box {
    margin-left: 20%;
  }
}

@media (min-width: 600px) {

  /* resets mobile styles */
  .mode-left .box {
    margin-left: 0;
    margin-right: auto;
    padding-left: var(--box-padding);
  }

  .mode-right .box {
    margin-left: auto;
    margin-right: 0;
    padding-right: var(--box-padding);
  }

  .wrapper .side-image {
    margin: 0;
  }

  .wrapper {
    flex-direction: row;
  }

  .wrapper.mode-right {
    flex-direction: row-reverse;
  }

  .wrapper.mode-full {
    flex-direction: column;
  }

  .wrapper.mode-center {
    justify-content: center;
  }

  .mode-left .box,
  .mode-center .box,
  .mode-right .box {
    width: 50%;
  }

  .wrapper .box {
    min-width: 50%;
    padding: var(--box-padding) calc(1.5 * var(--box-padding));
  }

  .wrapper .side-image {
    position: relative;
    flex: 1;
  }

  .side-image img {
    margin-top: 10em;
  }

  .mode-left .side-image {
    margin-left: calc(-1 * var(--box-padding));
  }

  .mode-right .side-image {
    margin-right: calc(-1 * var(--box-padding));
  }

  .mode-center .side-image {
    max-width: fit-content;
  }
}

.box ul {
  padding-left: 0;
  column-count: 1;
  list-style: none;
}

.box li:not(:last-child) {
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .mode-full .box ul {
    column-count: 2;
  }
}