.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid;

  --box-padding: 1.5em;
  padding: var(--box-padding);
}

.mode-full {}

.mode-left {
  margin-left: -5em;
  padding-left: 5em;
}

.mode-right {
  margin-right: -5em;
  padding-right: 5em;
}

@media (min-width: 400px) {
  .mode-left {
    margin-right: 33%;
  }

  .mode-center {
    margin: 0 auto;
  }

  .mode-right {
    margin-left: 33%;
  }
}

@media (min-width: 600px) {
  /* resets mobile styles */
  .mode-left {
    margin-left: 0;
    margin-right: auto;
    padding-left: var(--box-padding);
  }
  .mode-right {
    margin-left: auto;
    margin-right: 0;
    padding-right: var(--box-padding);
  }

  .mode-left, .mode-center, .mode-right {
    width: 50%;
  }
}
