.wrapper {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid;

  --box-padding: 1.5em;
  padding: var(--box-padding);
}

.mode-full {}

.mode-left .box {
  margin-left: -5em;
  padding-left: 5em;
}

.mode-right .box {
  margin-right: -5em;
  padding-right: 5em;
}

.side-image img, .side-image picture {
  max-width: 100%;

}

@media (min-width: 400px) {
  .mode-left .box {
    margin-right: 33%;
  }

  .mode-center .box {
    margin: 0 auto;
  }

  .mode-right .box {
    margin-left: 33%;
  }
}

@media (min-width: 600px) {
  /* resets mobile styles */
  .mode-left .box {
    margin-left: 0;
    margin-right: auto;
    padding-left: var(--box-padding);
  }
  .mode-right .box {
    margin-left: auto;
    margin-right: 0;
    padding-right: var(--box-padding);
  }

  .mode-left .box,
  .mode-center .box,
  .mode-right .box {
    width: 50%;
  }
}
