@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.2em;
  background: rgb(0, 3, 26);
  color: white;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  color: white;
  text-underline-offset: 0.05em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid;
  padding: 1.5em;
}

p {
  margin-top: 0;
}

h2,
h3 {
  margin: 0 0 .5em 0;
}