.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    align-items: stretch;
  }
}

.text {
  padding: 0.4em;
  color: white;
  background: transparent;
  border: 2px solid;
}

.copy-button {
  padding: 0.4em;
  background: white;
  border: 2px solid white;
  text-transform: uppercase;
}

.result-message {
  padding: 0.4em;
}
