.title-box-wrapper {
  display: flex;
  margin-top: -1em;
}

.title-box-wrapper::before {
  content: " ";
  flex: 3;
}

.title-box-wrapper::after {
  content: " ";
  flex: 5;
}

.title-box {
  position: relative;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: 6px solid;

  display: flex;
  justify-content: flex-end;
}

.pink {
  background-color: #ff99cc;
}

.title {
  text-align: right;
}

.rotator {
  margin: -0.25em 0;
  padding-top: 0.25em;
  max-height: 1.75em;
  overflow: hidden;
  text-align: right;
  position: relative;

  --gradient: linear-gradient(transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: var(--gradient);
  mask-image: var(--gradient);
}

@keyframes step {
  from {
    top: -2em;
  }
  to {
    top: calc(var(--element-count) * -4em - 2em);
  }
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2em);
  }
  100% {
    transform: translateY(-2em);
  }
}

.rotator > * {
  --animation-speed-default: var(--animation-speed, 2s);
  position: relative;
  display: block;
  height: 2em;
  top: 0;
  animation: step calc(var(--element-count) * var(--animation-speed-default))
      steps(calc(var(--element-count) * 2), end) infinite,
    slide var(--animation-speed-default) linear infinite;
}
