.map-box {
  --map-height: 16em;
  padding-bottom: calc(var(--map-height) / 2 - var(--box-padding));
}

.map-container {
  margin-bottom: calc((var(--map-height) / 2) * -1 - var(--box-padding));
  width: 100%;
  height: var(--map-height);
}

@media (min-width: 600px) {
  .map-box {
    --map-height: 20em;
  }

  .map-container {
    width: 50%;
  }
}

.robot-image {
  max-width: 8em;
}

.partner-logo {
  max-width: 100%;
  margin: 2rem 0;
}

.team {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  width: 100%;
}

@media (min-width: 800px) {
  .team-member {
    width: 50%;
    padding: 1rem;
  }
}

.team-avatar {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  display: block;
  margin: 0 auto 1rem;
}

.team-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
