.title-box-wrapper {
  display: flex;
  margin-top: -2em;
}

.title-box-wrapper::before {
  content: " ";
  flex: 3;
}

.title-box-wrapper::after {
  content: " ";
  flex: 5;
}

.map-box {
  --map-height: 16em;
  padding-bottom: calc(var(--map-height) / 2 - var(--box-padding));
}

.map-container {
  margin-bottom: calc((var(--map-height) / 2) * -1 - var(--box-padding));
  width: 100%;
  height: var(--map-height);
}

@media (min-width: 600px) {
  .map-box {
    --map-height: 20em;
  }

  .map-container {
    width: 50%;
  }
}

.robot-image {
  max-height: 12em;
}

.partner-logo {
  max-width: 100%;
  margin: 2rem 0;
}

.team {
  column-count: 2;
  margin: 2rem 0;
}

.team-avatar {
  border-radius: 50%;
  height: 8rem;
  display: block;
  margin: 0 auto 1rem;
}

.team-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}