.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25em 2.25em;
}

.logo {
  max-width: 50%;
  max-height: 1.5em;
}

.menu {
  color: white;
  z-index: 1;
  position: absolute;
  width: 100vw;
  background: hsla(0, 0%, 0%, 0.8);
  border: 0.25em solid;
  margin: 0;
  padding: 1em 2em;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.iconButton {
  background: none;
  border: none;
  color: currentColor;
  font-size: 1.4rem;
  width: 1em;
  height: 1em;
  font-weight: bold;
  display: block;
  align-self: flex-end;
  cursor: pointer;
  padding: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  margin-top: 1.5em;
  text-align: right;
  font-size: 1.5rem;
}

.menu li {
  padding: 0.375rem 0;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
